# Directories
.nuget/*
Debug/*
External/*
NDependOut/*
packages/*
Release/*
RazorView/bin/*
*/test-results/*
test-results/*

# Files
*.pidb
*.suo
*.typemock
RazorDB.ndproj
RazorDB/.DS_Store
RazorDB/C5/.DS_Store
RazorDBTests/.DS_Store
RazorTest/.DS_Store
RazorUtil/.DS_Store
RazorView/.DS_Store
RazorUtil/RazorUtil.csproj.user

# Misc
*/obj/*
