# Directories
.nuget/*
*/[Bb]in/*
[Dd]ebug/*
[Ee]xternal/*
*/[Oo]bj/*
[Pp]ackages/*
[Rr]elease/*
*/[Tt]est-[Rr]esults/*

# Files
.DS_Store
*.csproj.user
*.pdb
*.suo
*.userprefs

.RazorDB.boltdata/*
